body{
    background-color:white;
    width:100%;
    color:white;
}
#wrapper
{
    width:1200px;
    margin:0 auto 0 auto;
    background-color:black;
}
#header_wrapper
{
    width:100%;
    text-align:center;

}
ul
{
    list-style-type:none;
}   
li{
    display:inline;
    margin: 0 50px 0 50px;
}
li a{
    text-decoration:none;
    font-size:30px;
    color:white;
    //background-color:darkgrey;
    padding:2px;
    border-style:solid;
    border-color:white;
    border-width:1px;

}
.dice{
    
    display:inline;
}
#lblScore{
    display:block;
}
#score{
    background-color:black;
    color:white;
    border:none;
}
